.readme a {
    color: var(--text-dark);
    text-decoration: none;
    cursor: pointer;
}

.readme a:hover {
    color: var(--text-muted);
    text-decoration: none;
}

.readme pre {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.85rem;
    line-height: 1.5;

    /* 🔥 correção do problema */
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;

    max-width: 100%;
}