.title{
    font-family: "Press Start 2P", sans-serif;
    font-size: 36px;
    color: #ff7d00;
    text-shadow: 5px 5px 0px black;
}

.title.-second {
    color: red;
    text-shadow: none;
    text-align: center;
}